.fondo{
    background-color:rgba(151, 94, 163, 0.45);
    margin: auto;
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9% 3%;
    border-radius: 45px;
    border: 2px solid rgb(151, 94, 163);
}
.input{
    display: block;
}
input{
    border-radius: 12px;
    padding: 6% 5%;
    width: 90%;
}
form{
    width: 90%;
}
.login{
    align-items: center;
}
